/.idea/workspace.xml
/build/
/prefix/
/sdk/

/deps/*/share
/deps/**/*.la

/deps/bzip2/bin/
/deps/bzip2/man/
/deps/flac/bin/
/deps/fluidsynth/bin/
/deps/freetype/lib/cmake/
/deps/glib/bin/gdbus*
/deps/glib/bin/gio*
/deps/glib/bin/glib-compile*
/deps/glib/bin/gobject*
/deps/glib/bin/gresource
/deps/glib/bin/gsettings
/deps/glib/bin/gtester*
/deps/glib/include/gio-unix-2.0/
/deps/glib/include/glib-2.0/gio/
/deps/glib/include/glib-2.0/gmodule.h
/deps/glib/lib/libgio-2.0.a
/deps/glib/lib/libgmodule-2.0.a
/deps/glib/lib/pkgconfig/gio-*.pc
/deps/glib/lib/pkgconfig/gmodule-*.pc
/deps/iconv/bin/
/deps/iconv/include/*charset.h
/deps/iconv/lib/libcharset.a
/deps/jpeg-turbo/bin/
/deps/jpeg-turbo/include/turbojpeg.h
/deps/jpeg-turbo/lib/libturbojpeg.a
/deps/mpg123/bin/
/deps/mpg123/**/*out123.*
/deps/mpg123/**/*syn123.*
/deps/nasm/bin/ndisasm
/deps/openal/lib/cmake/
/deps/opusfile/lib/libopusurl.a
/deps/opusfile/lib/pkgconfig/opusurl.pc
/deps/pcre/bin/
/deps/pcre/lib/pkgconfig/libpcreposix.pc
/deps/pcre/lib/libpcreposix.a
/deps/png/bin/png-fix-itxt
/deps/png/bin/pngfix
/deps/samplerate/bin/
/deps/sndfile/bin/
/deps/sndfile/include/sndfile.hh
/deps/sndfile/lib/cmake/
/deps/webp/include/webp/demux.h
/deps/webp/**/libwebpdecoder.*
/deps/webp/**/libwebpdemux.*
/deps/yasm/bin/vsyasm
/deps/yasm/bin/ytasm
/deps/yasm/include/
/deps/yasm/lib/
