/.idea/
/build/
/prefix/
/sdk/

/deps/*/share
/deps/**/*.la
/deps/**/*.pc

/deps/bzip2/bin/
/deps/bzip2/man/
/deps/flac/bin/
/deps/flac/include/FLAC++/
/deps/flac/lib/libFLAC++.a
/deps/jpeg-turbo/bin/
/deps/jpeg-turbo/include/turbojpeg.h
/deps/jpeg-turbo/lib/libturbojpeg.a
/deps/nasm/bin/ndisasm
/deps/openal/lib/cmake/
/deps/opusfile/lib/libopusurl.a
/deps/sndfile/bin/
/deps/sndfile/include/sndfile.hh
/deps/sndfile/lib/cmake/
