---
name: Test Libraries

on:
  push:
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip test]')"
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: |
          ./build.py --target=test-deps
...
